// Morningstar Symbols
@font-face {
	font-family: "Morningstar Symbols";
	src: 	url("../fonts/morningstar-symbols/morningstar-symbols.woff") format("woff"),
			url("../fonts/morningstar-symbols/morningstar-symbols.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
